body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  background-color: #717171;
}

.main-container {
  margin-top: 200px;
  width: 450px;
  height: 400px;
  background-color: #404040;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.container-b,
.container-d {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border-radius: 5px;
}

.container-b input,
.container-d input {
  font-size: 2rem;
  max-width: 200px;
}

.container-b label,
.container-d label {
  font-size: 1.6rem;
}

.converter {
  width: 210px;
  padding: 16px 32px;
  font-size: 1.8rem;
  cursor: pointer;
  background: linear-gradient(#ffbf00, #f2a50c);
  color: #332200;
  border: none;
  border-radius: 3px;
}

.converter:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

span {
  position: relative;
  max-width: 200px;
  color: red;
  font-size: 0.8rem;
  font-weight: 600;
  padding-bottom: 0;
  margin-bottom: 0;
}
